.flex-container {
  width: 400px;
  padding: 10px;
  display: flex;
  border: 2px solid blue;
}

.flex-container .flex-item {
  background-color: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}
