.flex-container {
  width: 400px;
  padding: 1px;
  display: flex;
  border: 2px solid blue;
  align-items: flex-start;
}

.flex-container .flex-item {
  background-color: #eee;
  border: 2px solid #000;
  padding: 15px;
}

.custom-order:nth-child(1) {
  order: 5;
}
.custom-order:nth-child(2) {
  order: 3;
}
.custom-order:nth-child(3) {
  order: 1;
}
.custom-order:nth-child(4) {
  order: 6;
}
.custom-order:nth-child(5) {
  order: 2;
}
.custom-order:nth-child(6) {
  order: 4;
}
