.flex-container {
  width: 400px;
  height: 400px;
  padding: 10px;
  display: flex;
  border: 2px solid blue;
}

.flex-container .flex-item {
  background-color: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.baseline {
    align-items: baseline;
}