body {
  background-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container footer,
.container header,
.content > * {
  border-radius: 3px;
  border: 1px solid #b6b6b6;
  padding: 25px;
  margin: 15px;
}

.container {
  margin-top: 30px;
  background-color: white;
  width: 70%;
  border-radius: 3px;
  box-shadow: 0 0 12px #b6b6b6;
  padding: 15px;
}

.content aside,
.content main {
  margin: 0 15px;
  display: flex;
}
.content aside {
  flex-grow: 1;
}
.content main {
  flex-grow: 3;
}

.content {
  display: flex;
}

.container:nth-of-type(1) .content aside {
  order: 1;
}

.container:nth-of-type(1) .content main {
  order: 2;
}
